.nav-main {
  position: fixed; top: 0; right: 0; left: 0; background-color: rgba($black, .95); z-index: 100;

  > .menu-item {
    position: relative;

    &:hover {
      .sub-menu { display: block; }
    }

    > a {
      color: rgba($white, .7);

      &:hover { color: $white; }
    }
  }

  .sub-menu {
    display: none; position: absolute; top: 100%; margin: 0; padding: 0; width: 300px;
    background-color: $white; list-style: none;

    box-shadow: 0 1px 1px rgba($black, .4);
  }
}
