////
/// Colors
///
/// @group Settings
///
////

/// Base colors
$white: #fff;
$grey: #cdcdcd;
$black: #222;

$red: #d9534f;
$green: #5cb85c;
$orange: #ea881d;

$blue: #68bbdb;

$brand-color: $blue;

/// Functionnal colors
$text-color: rgba($black, .9);
$link-color: $brand-color;
$error-color: $red;
$valid-color: $green;
